<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/css-scripts.js"></script>
    <title>SongLab | About songLab</title>
  </head>
  <body>
    <div class="pageWrapper">
      <div class="navIcon" onclick="openNav()">
          <div class="iconbar"></div>
          <div class="iconbar"></div>
          <div class="iconbar"></div>
      </div>
      <div id="mainNav" class="overlay">
        <a href="javascriptvoid:0" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/projects">Browse Projects</a></li>
          <li><a href="/about">About</a></li>
          {% if user_id is not null %}
              <li><a href="/user/{{ user_id }}">My Account</a></li>
              <li><a href="/log_out">Log Out</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="aboutHeader">
        <div class="aboutHeaderText">
          <h1>About songLab</h1>
        </div>
      </div>

      <div class="aboutContent">
        <div class="topContent flow-text">
          <h2>What is songLab?</h2>
          <p><b>SongLab</b> is a music collaboration website where users can browse and upload musical projects in need of creative collaboration.
          </p>
          <p>Dreamt up by two cross-country friends who wanted to create music together, songLab allows </p>
          <p> Are you a great lyricist but can&#39;t write music? A composer that can&#39;t do words? Do you have a song that needs percussion, or a recording that needs mixing? Upload your project to SongLab and find artists to help bring your song to life.</p>
        </div>

        <div class="songLabLogo" id="aboutLogo">
          <div class="logoText">
            <h1>songLab</h1>
          </div>
          <div class="musicBars">
            <div class="bar" id="bar1"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
          </div>
        </div>

        <div class="connect">
          <h2>Connect. Collaborate. Create.</h2>
        </div>

        {% if user_id is null %}
            <div class="aboutButtons">
              <a class="modal-trigger modal-close" href="#modal1">Create Account</a>
                <div id="modal1" class="modal modalLong">
                  <div class="modal-content">
                    <h2>Create Your Account</h2>
                    <h4>Join SongLab to discover and create creative ideas.</h4>
                    <form class="createAccountForm" action="/user" method="post">
                      <div class="input-field">
                        <input placeholder="Username" id="Username" name="username" type="text" class="validate" pattern="[a-zA-Z0-9]{6,25}">
                      </div>
                      <div class="input-field">
                        <input placeholder="Password" id="password" name="password1" type="password" class="validate" pattern="[a-zA-Z0-9]{6,25}">
                      </div>
                      <div class="input-field">
                        <input placeholder="Verify Password" id="password" name="password2" type="password" class="validate" pattern="[a-zA-Z0-9]{6,25}">
                      </div>
                      <div class="input-field">
                        <input placeholder="First Name" id="first_name" name="first_name" type="text" class="validate" pattern="[a-zA-Z0-9']{0,25}">
                      </div>
                      <div class="input-field">
                        <input placeholder="Last Name" id="last_name" name="last_name" type="text" class="validate" pattern="[a-zA-Z0-9']{0,25}">
                      </div>
                      <div class="input-field">
                        <textarea placeholder="Bio" id="textarea1" name="bio" type="text" class="materialize-textarea" pattern="[a-zA-Z0-9!@#$%^*_|?.']"></textarea>
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="modal-close">Create Your Account</button>
                      </div>
                    </form>
                  </div>
                </div>
              <a class="modal-trigger" href="#modal2">Sign In</a>
              <div id="modal2" class="modal">
                <div class="modal-content">
                  <h1>SongLab</h1>
                  <form class="signInForm" action="/sign-in" method="post">
                    {% if error is not empty %}
                    <script type="text/javascript">
                      $("#modal2").openModal();
                      $(this).removeClass('.lean-overlay');
                    </script>
                    <p class="errorMessage">{{ error }}</p>
                    {% endif %}
                    <div class="input-field">
                      <input placeholder="Username" id="username" type="text" class="validate" pattern="[a-zA-Z0-9]{6,25}">
                    </div>
                    <div class="input-field">
                      <input placeholder="Password" id="password" type="password" class="validate" pattern="[a-zA-Z0-9]{6,25}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="modal-close" name="button">Sign In</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        {% endif %}

      </div>
      <div class="footer">
        <hr>
        <p>SongLab was created at <a target="_blank" href="http://www.epicodus.com">Epicodus</a> by <a target="_blank" href="https://github.com/jaredbeckler">Jared Beckler</a>, <a target="_blank" href="https://github.com/mostfamiliar">Torrence Stratton</a>, <a target="_blank" href="https://github.com/jcfix">Jessica Fix</a>, <a target="_blank" href="https://github.com/brookehurford">Brooke Hurford</a>, and <a target="_blank" href="https://github.com/pokojt">Taylor Pokoj</a>.</p>
        <p>SongLab &copy; 2016 | All Rights Reserved</p>
      </div>

    </div>

  </body>
</html>
