<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Profile</title>
    </head>
    <body>
        <div class="container">
            <h3>Edit your Profile</h3>
            <form class="" action="/user/{{ user.getId }}/edit_profile" method="post">
                <input name="_method" type="hidden" value="patch">
                <p>
                    FORM FOR USER GOES HERE
                </p>
            </form>
            <hr>
            <a href="/user/{{ user.getId }}/delete"><button type="submit" name="button">Delete Profile</button></a>
        </div>

    </body>
</html>
