<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="js/scripts.js"></script>

    <title>SongLab | Homepage</title>
  </head>
  <body>
    <div class="pageWrapper">
      <div class="header">
        <div class="headerContent">
          <div class="songLabWrapper">
            <div class="songLabLogo">
              <div class="logoText">
                <h1>songLab</h1>
              </div>
              <div class="musicBars">
                <div class="bar" id="bar1"></div>
                <div class="bar" id="bar2"></div>
                <div class="bar" id="bar3"></div>
              </div>
            </div>
          </div>
          <div class="summary">
            <p>Upload your project and find other artists to help bring your song to life.</p>
            <p>Connect. Collaborate. Create.</p>
          </div>
          <div class="headerButtons">
            <a class="modal-trigger modal-close" href="#modal1">Create Account</a>
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h2>Create Your Account</h2>
                  <h4>Join SongLab to discover and create creative ideas.</h4>
                  <form class="createAccountForm" action="/user" method="post">
                    <div class="input-field">
                      <div class="input-field">
                        <input placeholder="Username" id="username" name="username" type="text" class="validate">
                      </div>
                      <input placeholder="First Name" id="first_name" name="first_name" type="text" class="validate" >
                    </div>
                    <div class="input-field">
                      <input placeholder="Last Name" id="last_name" name="last_name" type="text" class="validate">
                    </div>
                    <div class="input-field">
                      <input placeholder="Password" id="password1" name="password1" type="password" class="validate">
                    </div>
                    <div class="input-field">
                      <input placeholder="Verify Password" id="password2" type="password" class="validate">
                    </div>
                    <div class="input-field">
                      <textarea placeholder="Bio" id="textarea1" type="text" name="bio" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit">Create Your Account</button>
                </div>
                </form>
              </div>
            <a class="modal-trigger" href="#modal2">Sign In</a>
            <div id="modal2" class="modal">
              <div class="modal-content">
                <h1>SongLab</h1>
                <form class="signInForm" action="/user" method="post">

                  <div class="input-field">
                    <input placeholder="Username" id="username" name="username"
                    type="text" class="validate">
                  </div>
                  <div class="input-field">
                    <input placeholder="Password" id="password" type="password" name="password" class="validate">
                  </div>
                  <div class="modal-footer">
                      <button type="submit" name="button">Sign In</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="completedCollabs">

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
  </body>
</html>
