<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/css/main.css" media="screen">
      <meta name="viewport" content="width=device-width">
      <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/css-scripts.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/scripts.js"></script>

      <title>songLab | Homepage</title>
  </head>
  <body>
      <div class="pageWrapper">
        <div class="navIcon" onclick="openNav()">
          <div class="iconbar"></div>
          <div class="iconbar"></div>
          <div class="iconbar"></div>
        </div>
        <div id="mainNav" class="overlay">
          <a href="javascriptvoid:0" class="closebtn" onclick="closeNav()">&times;</a>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Browse Projects</a></li>
            <li><a href="/about">About</a></li>

            {% if user_id is not null %}
                <li><a href="/user/{{ user_id }}">My Account</a></li>
                <li><a href="/log_out">Log Out</a></li>
            {% endif %}

          </ul>
        </div>
        <div class="header">
          <div class="headerContent">
            <div class="songLabWrapper">
              <div class="songLabLogo">
                <div class="logoText">
                  <h1>songLab</h1>
                </div>
                <div class="musicBars">
                  <div class="bar" id="bar1"></div>
                  <div class="bar" id="bar2"></div>
                  <div class="bar" id="bar3"></div>
                </div>
              </div>
            </div>
          <div class="summary">
            <p>Upload your project and find other artists to help bring your song to life.</p>
            <p>Connect. Collaborate. Create.</p>
          </div>
          {% if user_id is null %}
              <div class="headerButtons">
                <a class="modal-trigger modal-close" href="#modal1">Create Account</a>
                  <div id="modal1" class="modal modalLong">
                    <div class="modal-content">
                      <h2>Create Your Account</h2>
                      <h4>Join SongLab to discover and create creative ideas.</h4>
                      <form class="createAccountForm" action="/user" method="post">
                          {% if error2 is not empty %}
                                <script type="text/javascript">
                                  $("#modal1").openModal();
                                  $(this).removeClass('.lean-overlay');
                                </script>
                                  <p class="errorMessage">{{ error2 }}</p>
                          {% endif %}
                        <div class="input-field">
                          <input placeholder="Username" id="Username" name="username" type="text" class="validate" pattern="[a-zA-Z0-9]{6,25}" title="Required Length: 6-25 characters. Include only letters and/or numbers.">
                        </div>
                        <div class="input-field">
                          <input placeholder="Password" id="password" name="password1" type="password" class="validate" pattern="[a-zA-Z0-9]{6,25}" title="Required Length: 6-25 characters. Include only letters and/or numbers.">
                        </div>
                        <div class="input-field">
                          <input placeholder="Verify Password" id="password" name="password2" type="password" class="validate" pattern="[a-zA-Z0-9]{6,25}" title="Required Length: 6-25 characters. Include only letters and/or numbers.">
                        </div>
                        <div class="firstLastFields">
                          <div class="input-field">
                            <input placeholder="First Name" id="first_name" name="first_name" type="text" class="validate" pattern="[a-zA-Z0-9']{0,50}" title="Required Length: 0-50 characters. Include only letters, numbers and apostrophes.">
                          </div>
                          <div class="input-field">
                            <input placeholder="Last Name" id="last_name" name="last_name" type="text" class="validate" pattern="[a-zA-Z0-9']{0,50}" title="Required Length: 0-50 characters. Include only letters, numbers and apostrophes.">
                          </div>
                        </div>
                        <div class="input-field">
                          <textarea placeholder="Bio" id="textarea1" name="bio" type="text" class="materialize-textarea" pattern="[a-zA-Z0-9!@#$%^*_|?.']" title="Include only letters, numbers and the following characters: !@#$%^*_|?.'"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit">Create Your Account</button>
                        </div>
                      </form>
                    </div>
                  </div>
                <a class="modal-trigger" href="#modal2">Sign In</a>
                <div id="modal2" class="modal">
                  <div class="modal-content">
                    <h1>SongLab</h1>
                    <form class="signInForm" action="/sign_in" method="post">
                      {% if error is not empty %}
                            <script type="text/javascript">
                              $("#modal2").openModal();
                              $(this).removeClass('.lean-overlay');
                            </script>
                              <p class="errorMessage">{{ error }}</p>
                      {% endif %}
                      <div class="input-field">
                        <input placeholder="Username" id="username" name="username" type="text" class="validate" pattern="[a-zA-Z0-9]{6,25}" title="Required Length: 6-25 characters. Include only letters and/or numbers.">
                      </div>
                      <div class="input-field">
                        <input placeholder="Password" id="password" name="password" type="password" class="validate" pattern="[a-zA-Z0-9]{6,25}" title="Required Length: 6-25 characters. Include only letters and/or numbers.">
                      </div>
                      <div class="modal-footer">
                          <button type="submit" name="button">Sign In</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          {% endif %}
        </div>
      </div>

      <div class="completedCollabs">
        <div class="col1">
          <div id="desert" class="galleryItem">
            <div class="galleryContent">
              <h2>Thirsty</h2>
              <h3>By: Fred &amp; Bobby</h3>
            </div>
          </div>
          <div id="bright" class="galleryItem">
            <div class="galleryContent">
              <h2>New</h2>
              <h3>By: Paul &amp; Ringo</h3>
            </div>
          </div>
          <div id="hippie" class="galleryItem">
            <div class="galleryContent">
              <h2>Free Bird</h2>
              <h3>By: Jane &amp; Lyla</h3>
            </div>
          </div>
          <div id="collage" class="galleryItem">
            <div class="galleryContent">
              <h2>Undecided</h2>
              <h3>By: Amy &amp; Tina</h3>
            </div>
          </div>
        </div>
        <div class="col2">
          <div id="lights" class="galleryItem">
            <div class="galleryContent">
              <h2>Lights</h2>
              <h3>By: Wolfgun</h3>
            </div>
          </div>
          <div id="trippy" class="galleryItem">
            <div class="galleryContent">
              <h2>Trippy</h2>
              <h3>By: Blaze &amp; Echo</h3>
            </div>
          </div>
          <div id="robot" class="galleryItem">
            <div class="galleryContent">
              <h2>Future</h2>
              <h3>By: Genesis &amp; Machina</h3>
            </div>
          </div>
          <div id="boat" class="galleryItem">
            <div class="galleryContent">
              <h2>Lost</h2>
              <h3>By: Daisy &amp; Fox</h3>
            </div>
          </div>
        </div>
        <div class="col3">
          <div id="girl" class="galleryItem">
            <div class="galleryContent">
              <h2>Sombra</h2>
              <h3>By: Jessica &amp; Taylor</h3>
            </div>
          </div>
          <div id="triangles" class="galleryItem">
            <div class="galleryContent">
              <h2>Bermuda</h2>
              <h3>By: Torrence &amp; Jared</h3>
            </div>
          </div>
          <div id="sun" class="galleryItem">
            <div class="galleryContent">
              <h2>Sun</h2>
              <h3>By: Drew &amp; Ethan</h3>
            </div>
          </div>
          <div id="grafitti" class="galleryItem">
            <div class="galleryContent">
              <h2>Grafitti</h2>
              <h3>By: Banksy</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <hr>
        <p>songLab &copy; 2016 | All Rights Reserved</p>
      </div>
    </div>

  </body>
</html>
