<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <title>SongLab | Your Profile</title>
  </head>
  <body>
    <div class="pageWrapper">
      <nav class="navSubpage">
        <div class="songLabWrapper">
          <div class="songLabLogo">
            <div class="logoText">
              <h1>songLab</h1>
            </div>
            <div class="musicBars">
              <div class="bar" id="bar1"></div>
              <div class="bar" id="bar2"></div>
              <div class="bar" id="bar3"></div>
            </div>
          </div>
        </div>
      </nav>
      <div class="profileHeader">
        <div class="profileInfo">
          <img class="profileImage" src="img/profile.jpeg"></img>
          <h1 class="username">{{ user.getFirstName }} {{ user.getLastName }}</h1>
          <h2 class="userMusicType">Lyrics, Composer, Flutist</h2>
          <p class="userBio">{{ user.getBio }}</p>
          <div class="profileButtons">
            <a class="secondaryBlack modal-trigger modal-close" href="#postMusicModal">Post Music</a>
            <div id="postMusicModal" class="modal">
              <div class="modal-content">
                <h2>Post Music</h2>
                <h4>Let other artists browse your jam, so together you can create magic.</h4>
                <form class="postMusicForm" action="index.html" method="post">
                  <div class="input-field">
                    <input placeholder="Song Title" id="title" type="text" class="validate">
                  </div>
                  <div class="input-field">
                    <textarea placeholder="Notes" id="textarea1" type="text" class="materialize-textarea"></textarea>
                  </div>
                  <div class="input-field">
                    <textarea placeholder="Lyrics" id="textarea1" type="text" class="materialize-textarea"></textarea>
                  </div>
                  <label for="question">What type of music are you posting?</label>
                  <p class="musicType">
                    <input type="checkbox" id="test1" />
                    <label for="test1">Lyrics</label>
                    <input type="checkbox" id="test2" />
                    <label for="test2">Composition</label>
                    <input type="checkbox" id="test3" />
                    <label for="test3">Bass Track</label>
                    <input type="checkbox" id="test4" />
                    <label for="test4">Flute</label>
                  </p>
                </form>
              </div>
              <div class="modal-footer">
                <a class="modal-close" href="#">Post Your Song</a>
              </div>
            </div>

            <!--This may have to be on a separate edit page (edit_profile.html.twig)-->
            <a class="secondaryBlack modal-trigger modal-close" href="#editProfileModal">Edit Profile</a>
            <div id="editProfileModal" class="modal">
              <div class="modal-content">
                <h2>Edit Your Profile</h2>
                <form class="postMusicForm" action="index.html" method="post">
                  <div class="input-field">
                    <input placeholder="Edit Username" id="Username" type="text" class="validate">
                  </div>
                  <div class="input-field">
                    <input placeholder="Update Password" id="password" type="password" class="validate">
                  </div>
                  <div class="input-field">
                    <input placeholder="First Name" id="first_name" type="text" class="validate">
                  </div>
                  <div class="input-field">
                    <input placeholder="Last Name" id="last_name" type="text" class="validate">
                  </div>
                  <div class="input-field">
                    <textarea placeholder="Bio" id="textarea1" type="text" class="materialize-textarea"></textarea>
                  </div>
                  <label for="question">What types of music will you be posting for collaborations?</label>
                  <p class="musicType">
                    <input type="checkbox" id="test1" />
                    <label for="test1">Lyrics</label>
                    <input type="checkbox" id="test2" />
                    <label for="test2">Compositions</label>
                    <input type="checkbox" id="test3" />
                    <label for="test3">Bass Tracks</label>
                    <input type="checkbox" id="test4" />
                    <label for="test4">Flute</label>
                  </p>
                </form>
              </div>
              <div class="modal-footer">
                  <!--The link below will take user to an actual edit_profile PAGE if we choose to do that. Otherwise this link may need to change-->
                <a class="modal-close" href="/user/{{ user.getId }}/edit_profile">Edit Profile</a>
              </div>
            </div>



            <a class="secondaryBlack" href="#">Browse Open Collabs</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
  </body>
</html>
