

<!--THIS PAGE IS NOT IN USE CURRENTLY. DO WE WANT TO USE IT?-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" media="screen">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>

    <title>Account Confirmation | SongLab</title>
  </head>
  <body>
    <div class="pageWrapper">
      <nav class="navSubpage">
        <div class="songLabWrapper">
          <div class="songLabLogo">
            <div class="logoText">
              <h1>songLab</h1>
            </div>
            <div class="musicBars">
              <div class="bar" id="bar1"></div>
              <div class="bar" id="bar2"></div>
              <div class="bar" id="bar3"></div>
            </div>
          </div>
        </div>
      </nav>
      <div class="confirmation">
        <div class="confirmationContent">
          <h1>Thank you for creating your songLab account!</h1>
          <div class="buttonList">
            <a href=""><button class="secondaryWhite" type="button" name="button">View Your Profile</button></a>
            <a href="/projects"><button class="secondaryWhite" type="button" name="button">Browse Open Projects</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
