.aboutContent {
  width: 90%;
  h2 {
    color: $darkgray;
    @extend %headerFont;
  }
  p {
    font-size: 19px;
  }
  #aboutLogo {
    h1 {
      color: $darkgray;
    }
  }
  .connect {
    text-align: center;
    @extend %headerFont;
    color: $darkgray;
    h2 {
      margin-top: 0;
    }
  }
}
