.browseHeader {
  max-height: 50vh;
  overflow: hidden;
  @media screen and #{$brk-smallHeight} {
    .navSubpage{
      display: none;
    }
  }
  .headerVid {
    object-fit: cover;
    width: 100%;
    min-height: 50vh;
  }
  .video-overlay {
    @include background-image(linear-gradient(rgba($black, .8), rgba($black,0)));
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    height: 50vh;
  }
  .headerVidText {
    text-align: center;
    width: 90%;
    position: absolute;
    color: $white;
    // z-index: 1;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and #{$brk-mediumHeight} {
      top: 13%;
    }
    @media screen and #{$brk-smallHeight} {
      top: 7%;
    }
    h1 {
      @extend %headerFont, %uppercase;
      @include textFormat(90px, $weight: lighter, $l-spacing: 1px);
      margin-bottom: 0;
      @media screen and #{$brk-medium} {
        @include textFormat(70px);
      }
      @media screen and #{$brk-small} {
        @include textFormat(50px);
      }
      @media screen and #{$brk-mediumHeight} {
        @include textFormat(60px);
      }
      @media screen and #{$brk-mobileHeight} {
        @include textFormat(40px);
      }
    }
    p {
      margin: 0 auto;
      @include textFormat(25px);
      @media screen and #{$brk-small} {
        @include textFormat(20px);
      }
      @media screen and #{$brk-mobile} {
        @include textFormat(16px);
      }
      @media screen and #{$brk-mediumHeight} {
        @include textFormat(18px);
      }
      @media screen and #{$brk-mobileHeight} {
        display: none;
      }
    }
    #browsePageSearch {
      margin-top: 3%;
      input {
        @include textFormat(15px, $white, lighter, 1px);
        background: rgba(255,255,255,.1);
        border-bottom: none;
        border-radius: 2px;
        width: 30%;
        text-align: center;
        @media screen and #{$brk-medium} {
          width: 60%;
          margin-top: 2%;
        }
        @media screen and #{$brk-mobileHeight} {
          height: 4vh;
        }
      }
    }
  }
}
