.navSubpage {
  @include size(100% 10vh);
  background: transparent;
  // These two are here for the Browse Projects page, but it kinda messes with the other pages so need to work on this.
  position: absolute;
  top: 2%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba($darkgray, .93);
  overflow-x: hidden;
  transition: 300ms;
  ul {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    @media screen and #{$mobile} {
      right: 5%;
    }
  }
  li {
    @extend %headerFont;
    @extend %uppercase;
    letter-spacing: 2px;
    padding: 5%;
    text-decoration: none;
    font-size: 60px;
    display: block;
    transition: 0.3s;
    @media screen and #{$mobile} {
      font-size: 30px;
    }
    a {
      color: white;
      transition: all 400ms linear;
      &:hover {
        color: $subColor2;
      }
    }
  }
  .closebtn {
    color: white;
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px !important;
    &:hover {
      color: $subColor2;
    }
    @media screen and #{$tablet} {
      top: 5px;
      left: 20px;
    }
    @media screen and #{$mobile} {
      font-size: 40px !important;
    }
  }
}
