// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

h2 {
  @include textFormat(1.5em, $l-spacing: 1.5px);
  @extend %uppercase;
}

a {
  text-decoration: none;
}

p {
  @extend %headerFont;
}
