html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.header .summary p:nth-child(2), .confirmation .confirmationContent h1, .songLabLogo h1 {
  font-family: 'Fjalla One', sans-serif; }

h2, p, .overlay li, .browseHeader .headerVidText h1, .aboutHeader, .aboutContent h2, .aboutContent .connect, .inboxHeader, .youHave h3, .collabRequestWrapper .collabRequest .requestHeader h3, .collabRequestWrapper .collabRequest button, .headerContent .headerButtons, .secondaryBlack, .secondaryWhite, .modal-footer button, .openProjectButtons, .viewAll, .aboutButtons, .aboutButtons a, button, .modal .modal-content, .profileInfo, .projectsWrapper h4, .projectsWrapper .open-project .openProjectHeader, .noProjects h1, #bright .galleryContent, #desert .galleryContent, #hippie .galleryContent, #collage .galleryContent, #lights .galleryContent, #trippy .galleryContent, #robot .galleryContent, #boat .galleryContent, #girl .galleryContent, #triangles .galleryContent, #sun .galleryContent, #grafitti .galleryContent {
  font-family: 'Open Sans Condensed', sans-serif; }

h2, .overlay li, .header .summary p:nth-child(2), .browseHeader .headerVidText h1, .aboutHeader .aboutHeaderText h1, .inboxHeader h1, .collabRequestWrapper .collabRequest button, .headerContent .headerButtons a, .secondaryBlack, .secondaryWhite, .modal-footer button, .searchButton, .aboutButtons a, button {
  text-transform: uppercase; }

.confirmation .confirmationContent, .modal h1, .modal h2, .modal h3, .modal h4, .profileInfo, .noProjects {
  text-align: center; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

h2 {
  font-size: 1.5em;
  letter-spacing: 1.5px;
  margin: 1em auto; }

body::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: black; }

.errorMessage {
  text-align: center;
  color: tomato; }

.projectAuthor {
  color: #99ccff !important;
  font-size: 19px; }

.postMusicLink {
  border: none;
  color: #99ccff;
  transition: all 150ms linear; }
  .postMusicLink:hover {
    transform: scale(1.1);
    background-color: transparent;
    text-decoration: underline;
    color: #B399FF; }
  .postMusicLink:focus {
    background-color: transparent;
    border: none;
    color: #B399FF; }

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.flow-text {
  font-weight: 300; }
  @media only screen and (min-width: 360px) {
    .flow-text {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 390px) {
    .flow-text {
      font-size: 1.224rem; } }
  @media only screen and (min-width: 420px) {
    .flow-text {
      font-size: 1.248rem; } }
  @media only screen and (min-width: 450px) {
    .flow-text {
      font-size: 1.272rem; } }
  @media only screen and (min-width: 480px) {
    .flow-text {
      font-size: 1.296rem; } }
  @media only screen and (min-width: 510px) {
    .flow-text {
      font-size: 1.32rem; } }
  @media only screen and (min-width: 540px) {
    .flow-text {
      font-size: 1.344rem; } }
  @media only screen and (min-width: 570px) {
    .flow-text {
      font-size: 1.368rem; } }
  @media only screen and (min-width: 600px) {
    .flow-text {
      font-size: 1.392rem; } }
  @media only screen and (min-width: 630px) {
    .flow-text {
      font-size: 1.416rem; } }
  @media only screen and (min-width: 660px) {
    .flow-text {
      font-size: 1.44rem; } }
  @media only screen and (min-width: 690px) {
    .flow-text {
      font-size: 1.464rem; } }
  @media only screen and (min-width: 720px) {
    .flow-text {
      font-size: 1.488rem; } }
  @media only screen and (min-width: 750px) {
    .flow-text {
      font-size: 1.512rem; } }
  @media only screen and (min-width: 780px) {
    .flow-text {
      font-size: 1.536rem; } }
  @media only screen and (min-width: 810px) {
    .flow-text {
      font-size: 1.56rem; } }
  @media only screen and (min-width: 840px) {
    .flow-text {
      font-size: 1.584rem; } }
  @media only screen and (min-width: 870px) {
    .flow-text {
      font-size: 1.608rem; } }
  @media only screen and (min-width: 900px) {
    .flow-text {
      font-size: 1.632rem; } }
  @media only screen and (min-width: 930px) {
    .flow-text {
      font-size: 1.656rem; } }
  @media only screen and (min-width: 960px) {
    .flow-text {
      font-size: 1.68rem; } }
  @media only screen and (max-width: 360px) {
    .flow-text {
      font-size: 1.2rem; } }

.navSubpage {
  height: 10vh;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 30px; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(77, 77, 77, 0.93);
  overflow-x: hidden;
  transition: 300ms; }
  .overlay ul {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 15px; }
    @media screen and (max-width: 620px) {
      .overlay ul {
        right: 5%; } }
  .overlay li {
    letter-spacing: 2px;
    padding: 1%;
    text-decoration: none;
    font-size: 60px;
    display: block;
    transition: 0.3s; }
    @media screen and (max-width: 620px) {
      .overlay li {
        font-size: 30px; } }
    .overlay li a {
      color: white;
      transition: all 400ms linear; }
      .overlay li a:hover {
        color: #99FFE6; }
  .overlay .closebtn {
    color: white;
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px !important; }
    .overlay .closebtn:hover {
      color: #99FFE6; }
    @media screen and (max-width: 768px) {
      .overlay .closebtn {
        top: 5px;
        left: 20px; } }
    @media screen and (max-width: 620px) {
      .overlay .closebtn {
        font-size: 40px !important; } }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(179, 153, 255, 0.5), transparent), url("../img/piano-hands.jpeg");
  background-image: linear-gradient(rgba(179, 153, 255, 0.5), transparent), url("../img/piano-hands.jpeg");
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 750px; }
  @media screen and (max-width: 620px) {
    .header {
      height: 100%; } }
  .header .headerContent {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    width: 68%;
    text-align: center; }
    @media screen and (max-width: 620px) {
      .header .headerContent {
        width: 90%; } }
  .header .summary {
    color: #fff;
    margin-bottom: 3%; }
    @media screen and (max-width: 620px) {
      .header .summary {
        font-size: .8em; } }
    .header .summary p:first-child {
      margin-top: 0px;
      font-size: 2.5em; }
    .header .summary p:nth-child(2) {
      font-size: 1.6em;
      letter-spacing: 6px;
      font-weight: bold; }

.browseHeader {
  max-height: 50vh;
  overflow: hidden; }
  @media screen and (max-height: 850px) {
    .browseHeader .navSubpage {
      display: none; } }
  .browseHeader .headerVid {
    object-fit: cover;
    width: 100%;
    min-height: 50vh; }
  .browseHeader .video-overlay {
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50vh; }
  .browseHeader .headerVidText {
    text-align: center;
    width: 90%;
    position: absolute;
    color: #fff;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0); }
    @media screen and (max-height: 1050px) {
      .browseHeader .headerVidText {
        top: 13%; } }
    @media screen and (max-height: 850px) {
      .browseHeader .headerVidText {
        top: 7%; } }
    .browseHeader .headerVidText h1 {
      font-size: 90px;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-bottom: 0; }
      @media screen and (max-width: 860px) {
        .browseHeader .headerVidText h1 {
          font-size: 70px; } }
      @media screen and (max-width: 670px) {
        .browseHeader .headerVidText h1 {
          font-size: 50px; } }
      @media screen and (max-height: 1050px) {
        .browseHeader .headerVidText h1 {
          font-size: 60px; } }
      @media screen and (max-height: 660px) {
        .browseHeader .headerVidText h1 {
          font-size: 40px; } }
    .browseHeader .headerVidText p {
      margin: 0 auto;
      font-size: 25px; }
      @media screen and (max-width: 670px) {
        .browseHeader .headerVidText p {
          font-size: 20px; } }
      @media screen and (max-width: 468px) {
        .browseHeader .headerVidText p {
          font-size: 16px; } }
      @media screen and (max-height: 1050px) {
        .browseHeader .headerVidText p {
          font-size: 18px; } }
      @media screen and (max-height: 660px) {
        .browseHeader .headerVidText p {
          display: none; } }
    .browseHeader .headerVidText #browsePageSearch {
      margin-top: 3%; }
      .browseHeader .headerVidText #browsePageSearch input {
        font-size: 15px;
        color: #fff;
        font-weight: lighter;
        letter-spacing: 1px;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: none;
        border-radius: 2px;
        width: 30%;
        text-align: center; }
        @media screen and (max-width: 860px) {
          .browseHeader .headerVidText #browsePageSearch input {
            width: 60%;
            margin-top: 2%; } }
        @media screen and (max-height: 660px) {
          .browseHeader .headerVidText #browsePageSearch input {
            height: 4vh; } }

.footer {
  margin-top: 4%;
  width: 65%;
  text-align: center; }

.footer a {
  color: #66b3ff; }
  .footer a:first-child {
    color: #8d66ff; }

.profileHeader {
  min-height: 750px;
  height: 60vh;
  width: 100%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/speaker.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/speaker.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .profileHeader {
      height: 100%;
      width: 100%;
      min-height: 80vh; } }

.publicProfHeader {
  height: 60vh;
  width: 100%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/speaker.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), black), url("../img/speaker.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .publicProfHeader {
      height: 100%;
      width: 100%;
      min-height: 45vh; } }

.aboutHeader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/aboutSongLab4.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/aboutSongLab4.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%; }
  .aboutHeader .aboutHeaderText {
    width: 90%; }
    .aboutHeader .aboutHeaderText h1 {
      font-size: 100px;
      color: #fff;
      font-weight: lighter; }

.confirmation {
  height: 100vh;
  width: 100%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("../img/wall-guitar.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("../img/wall-guitar.jpg");
  display: flex;
  justify-content: center;
  background-size: cover; }
  .confirmation .confirmationContent {
    height: 50vh;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column; }
    .confirmation .confirmationContent h1 {
      font-size: 3em;
      color: #fff;
      line-height: 90px;
      margin: 1em; }

.aboutContent {
  width: 90%; }
  .aboutContent h2 {
    color: #4d4d4d; }
  .aboutContent p {
    font-size: 19px; }
  .aboutContent #aboutLogo h1 {
    color: #4d4d4d; }
  .aboutContent .connect {
    text-align: center;
    color: #4d4d4d; }
    .aboutContent .connect h2 {
      margin-top: 0; }

.inboxHeader {
  width: 100vw;
  text-align: center;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../img/messages.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../img/messages.jpg"); }
  .inboxHeader h1 {
    font-size: 70px;
    color: #fff;
    font-weight: lighter; }
    @media screen and (max-width: 620px) {
      .inboxHeader h1 {
        font-size: 50px; } }

.youHave h3 {
  color: #4d4d4d; }
.youHave .messageCount {
  color: #99ccff; }

.collabRequestWrapper {
  width: 80%; }
  .collabRequestWrapper .collabRequest {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    padding: 2%; }
    .collabRequestWrapper .collabRequest .requestHeader {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .collabRequestWrapper .collabRequest .requestHeader i {
        font-size: 30px;
        color: #99ccff;
        margin-right: 1%; }
      .collabRequestWrapper .collabRequest .requestHeader h3 {
        margin: 0;
        color: gray; }
    .collabRequestWrapper .collabRequest button {
      align-self: center;
      font-size: 1em;
      color: #4d4d4d;
      letter-spacing: 2px;
      padding: 0.8em 2em;
      border: 1px solid #4d4d4d;
      background: transparent;
      transition: all 300ms linear; }
      .collabRequestWrapper .collabRequest button:first-child {
        margin-right: 1em; }
      .collabRequestWrapper .collabRequest button:hover {
        color: #000;
        background: #99ccff; }

.headerContent .headerButtons {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  align-self: center; }
  .headerContent .headerButtons a {
    font-size: 1.3em;
    color: #fff;
    letter-spacing: 2px;
    padding: 0.8em 2em;
    border: 1px solid #fff;
    background: transparent;
    transition: all 500ms linear; }
    .headerContent .headerButtons a:first-child {
      margin-right: 1em; }
    .headerContent .headerButtons a:hover {
      color: #000;
      background: #99FFE6; }
    .headerContent .headerButtons a:nth-child(2):hover {
      background: #99ccff; }
    @media screen and (max-width: 768px) {
      .headerContent .headerButtons a {
        width: 100%;
        margin-bottom: 1em; } }
  @media screen and (max-width: 768px) {
    .headerContent .headerButtons {
      display: flex;
      flex-direction: column; } }

.secondaryBlack {
  font-size: 1.2em;
  color: #000;
  padding: 0.5em 5%;
  margin: 0.5em;
  border: 1px solid #000;
  transition: all 500ms linear; }
  .secondaryBlack:hover {
    color: #000;
    background: #99FFE6; }
  @media screen and (max-width: 768px) {
    .secondaryBlack {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      width: 85%; } }

.secondaryWhite {
  font-size: 1.2em;
  color: #fff;
  padding: 0.5em 5%;
  margin: 0.5em;
  border: 1px solid #fff;
  transition: all 500ms linear;
  background: transparent; }
  .secondaryWhite:hover {
    color: #000;
    background: #99FFE6; }
  @media screen and (max-width: 768px) {
    .secondaryWhite {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      width: 85%; } }

.profileButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.btn {
  color: #fff;
  background: #B399FF;
  padding-left: 2em;
  padding-right: 2em; }

.modal-footer button {
  padding: 0.8em 2em;
  font-size: 1.1em;
  color: #000;
  background: transparent;
  border: 1px solid #000 !important;
  color: black !important;
  transition: background 200ms linear; }
  .modal-footer button:hover {
    background: #99FFE6;
    border: 1px solid transparent; }

.delete {
  border: none;
  color: tomato;
  transition: all 150ms linear; }
  .delete:hover {
    transform: scale(1.1);
    background-color: transparent;
    text-decoration: underline;
    color: tomato; }
  .delete:focus {
    background-color: transparent;
    border: none;
    color: tomato; }

.searchButton {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
  border: 1px solid #fff;
  background: transparent;
  transition: all 500ms linear; }
  .searchButton:hover {
    color: #000;
    background: #99FFE6; }

.openProjectButtons {
  display: flex;
  justify-content: center; }
  .openProjectButtons a {
    text-align: center;
    width: 39%;
    margin: 1%;
    padding: 0.5em 1em;
    transition: all 300ms linear;
    border: 1px solid gray; }
    .openProjectButtons a:hover {
      color: #000;
      background: #99FFE6; }
    .openProjectButtons a:nth-child(2):hover {
      background: #99ccff; }
    @media screen and (max-width: 468px) {
      .openProjectButtons a {
        width: 100%; } }
  @media screen and (max-width: 468px) {
    .openProjectButtons {
      flex-direction: column; } }

.viewAll {
  margin: 8% auto;
  text-align: center; }
  .viewAll a {
    background: #B399FF;
    opacity: .8;
    text-align: center;
    padding: 0.5em 2em;
    transition: all 300ms linear; }
    .viewAll a:hover {
      background: #99ccff; }

.aboutButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  align-self: center; }
  .aboutButtons a {
    max-width: 48%;
    text-align: center;
    font-size: 1.2em;
    color: #4d4d4d;
    padding: 0.5em 5%;
    margin: 0.5em;
    border: 1px solid #4d4d4d;
    transition: all 500ms linear; }
    .aboutButtons a:hover {
      color: #000;
      background: #99FFE6; }
    @media screen and (max-width: 768px) {
      .aboutButtons a {
        display: flex;
        flex-direction: column;
        margin: 5px auto;
        width: 85%; } }
  @media screen and (max-width: 468px) {
    .aboutButtons {
      flex-direction: column; } }

.buttonList {
  width: 100%; }

button {
  align-self: center;
  font-size: 1em;
  color: #4d4d4d;
  letter-spacing: 2px;
  padding: 0.8em 2em;
  border: 1px solid #4d4d4d;
  background: transparent;
  transition: all 300ms linear; }
  button:first-child {
    margin-right: 1em; }
  button:hover {
    color: #000;
    background: #99ccff; }

.navIcon {
  z-index: 1;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 45px;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
  padding: .4em;
  cursor: pointer;
  border-radius: 15%; }
  .navIcon .iconbar {
    height: 3px;
    width: 30px;
    background-color: white; }
  @media screen and (max-width: 768px) {
    .navIcon {
      top: 10px;
      left: 10px; } }

.songLabWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin-bottom: 10px; }

.songLabLogo h1 {
  color: white;
  font-size: 100px;
  letter-spacing: 3px; }
  @media screen and (max-width: 620px) {
    .songLabLogo h1 {
      font-size: 50px; } }

.songLabLogo {
  display: flex;
  justify-content: center;
  width: 100%; }

.musicBars {
  display: flex;
  width: 100px;
  padding-left: 5px;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px; }
  @media screen and (max-width: 620px) {
    .musicBars {
      width: 50px; } }

.bar {
  width: 80px;
  margin: 5px;
  background: #99ccff;
  height: 15px;
  border-radius: 5px; }
  @media screen and (max-width: 620px) {
    .bar {
      width: 40px;
      height: 8px;
      margin: 2px; }
      .bar:first-child {
        width: 20px; }
      .bar:last-child {
        width: 30px; } }

.songLabLogo #bar1 {
  -webkit-animation: musicBars 1s ease-in-out backwards alternate-reverse infinite; }
  @media screen and (max-width: 620px) {
    .songLabLogo #bar1 {
      -webkit-animation: none !important; } }

.songLabLogo #bar2 {
  -webkit-animation: musicBars 1.2s .2s ease-in-out backwards alternate-reverse infinite; }
  @media screen and (max-width: 620px) {
    .songLabLogo #bar2 {
      -webkit-animation: none !important; } }

.songLabLogo #bar3 {
  -webkit-animation: musicBars 1.2s 1s ease-in-out backwards alternate-reverse infinite; }
  @media screen and (max-width: 620px) {
    .songLabLogo #bar3 {
      -webkit-animation: none !important; } }

@-webkit-keyframes musicBars {
  0% {
    width: 30px;
    background: #99ffe6; }
  50% {
    width: 90px;
    background: #b399ff; }
  100% {
    width: 70px; } }
.navSubpage .songLabLogo h1 {
  font-size: 45px;
  text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 620px) {
    .navSubpage .songLabLogo h1 {
      font-size: 36px; } }
.navSubpage .songLabLogo {
  margin: 0;
  width: 400px;
  position: relative;
  bottom: 37%; }
.navSubpage .musicBars {
  display: flex;
  width: 80px;
  padding-left: 5px;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px; }
  @media screen and (max-width: 620px) {
    .navSubpage .musicBars {
      width: 50px; } }
.navSubpage .bar {
  width: 50px;
  margin: 3px;
  background: #99ccff;
  height: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 620px) {
    .navSubpage .bar {
      width: 40px;
      height: 8px;
      margin: 2px; } }
  .navSubpage .bar:first-child {
    width: 30px;
    margin: 3px;
    background: #99ccff;
    height: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 620px) {
      .navSubpage .bar:first-child {
        width: 40px;
        height: 8px;
        margin: 2px; } }
  .navSubpage .bar:last-child {
    width: 40px;
    margin: 3px;
    background: #99ccff;
    height: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 620px) {
      .navSubpage .bar:last-child {
        width: 40px;
        height: 8px;
        margin: 2px; } }
.navSubpage .songLabLogo #bar1 {
  -webkit-animation: none !important; }
.navSubpage .songLabLogo #bar2 {
  -webkit-animation: none !important; }
.navSubpage .songLabLogo #bar3 {
  -webkit-animation: none !important; }

.modalLong {
  min-height: 680px; }

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 80%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity; }
  @media (max-width: 768px) {
    .modal {
      width: 97%; } }
  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; }
  .modal .modal-content {
    padding: 24px; }
    @media screen and (max-width: 620px) {
      .modal .modal-content {
        padding: 12px; } }
    .modal .modal-content h2 {
      margin-bottom: 25px; }
      @media screen and (max-width: 620px) {
        .modal .modal-content h2 {
          font-size: 16px;
          margin-bottom: 10px; } }
    .modal .modal-content h4 {
      font-weight: lighter;
      letter-spacing: 0.8px;
      padding-top: 0; }
      @media screen and (max-width: 620px) {
        .modal .modal-content h4 {
          margin-bottom: 0; } }
  .modal .modal-close {
    cursor: pointer; }
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 1em 6px 5em 6px;
    height: 56px;
    width: 100%; }
    @media screen and (max-width: 620px) {
      .modal .modal-footer {
        padding: 0; } }
    .modal .modal-footer .btn, .modal .modal-footer .btn-flat {
      float: right;
      margin: 6px 0; }

.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity; }

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%; }
  .modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto; }
  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0; }

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity; }

/* View Music Modal Styles */
.modal .projectTitle {
  font-size: 2em;
  margin-bottom: 20px; }

/* Request to Collaborate Modal Styles */
.modal3 {
  text-align: center; }
  .modal3 textarea {
    padding: 1%;
    height: 100px;
    font-size: 14px; }
    .modal3 textarea:focus {
      outline: none; }

form .musicType {
  padding-top: 2em;
  display: flex;
  justify-content: space-around; }

.firstLastFields {
  display: flex;
  justify: space-between;
  width: 100%; }
  .firstLastFields .input-field {
    flex: 1; }
    .firstLastFields .input-field:first-child {
      margin-right: 5px; }

/* Remove Focus Boxes */
select:focus {
  outline: 1px solid white; }

button:focus {
  outline: none;
  background-color: #0a0a0a; }

label {
  font-size: 20px;
  color: #000; }

/***************************
   Text Inputs + Textarea
****************************/
::-webkit-input-placeholder {
  color: #c6b3ff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #B399FF; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #B399FF; }

:-ms-input-placeholder {
  color: #B399FF; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s; }
  @media screen and (max-width: 620px) {
    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea.materialize-textarea {
      font-size: .8rem; } }
  input:not([type]):disabled, input:not([type])[readonly="readonly"],
  input[type=text]:disabled,
  input[type=text][readonly="readonly"],
  input[type=password]:disabled,
  input[type=password][readonly="readonly"],
  input[type=email]:disabled,
  input[type=email][readonly="readonly"],
  input[type=url]:disabled,
  input[type=url][readonly="readonly"],
  input[type=time]:disabled,
  input[type=time][readonly="readonly"],
  input[type=date]:disabled,
  input[type=date][readonly="readonly"],
  input[type=datetime-local]:disabled,
  input[type=datetime-local][readonly="readonly"],
  input[type=tel]:disabled,
  input[type=tel][readonly="readonly"],
  input[type=number]:disabled,
  input[type=number][readonly="readonly"],
  input[type=search]:disabled,
  input[type=search][readonly="readonly"],
  textarea.materialize-textarea:disabled,
  textarea.materialize-textarea[readonly="readonly"] {
    color: grey;
    border-bottom: 1px dotted grey; }
  input:not([type]):disabled + label, input:not([type])[readonly="readonly"] + label,
  input[type=text]:disabled + label,
  input[type=text][readonly="readonly"] + label,
  input[type=password]:disabled + label,
  input[type=password][readonly="readonly"] + label,
  input[type=email]:disabled + label,
  input[type=email][readonly="readonly"] + label,
  input[type=url]:disabled + label,
  input[type=url][readonly="readonly"] + label,
  input[type=time]:disabled + label,
  input[type=time][readonly="readonly"] + label,
  input[type=date]:disabled + label,
  input[type=date][readonly="readonly"] + label,
  input[type=datetime-local]:disabled + label,
  input[type=datetime-local][readonly="readonly"] + label,
  input[type=tel]:disabled + label,
  input[type=tel][readonly="readonly"] + label,
  input[type=number]:disabled + label,
  input[type=number][readonly="readonly"] + label,
  input[type=search]:disabled + label,
  input[type=search][readonly="readonly"] + label,
  textarea.materialize-textarea:disabled + label,
  textarea.materialize-textarea[readonly="readonly"] + label {
    color: grey; }
  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #B399FF;
    box-shadow: 0 1px 0 0 #B399FF; }
  input:not([type]):focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #B399FF; }
  input:not([type]).valid, input:not([type]):focus.valid,
  input[type=text].valid,
  input[type=text]:focus.valid,
  input[type=password].valid,
  input[type=password]:focus.valid,
  input[type=email].valid,
  input[type=email]:focus.valid,
  input[type=url].valid,
  input[type=url]:focus.valid,
  input[type=time].valid,
  input[type=time]:focus.valid,
  input[type=date].valid,
  input[type=date]:focus.valid,
  input[type=datetime-local].valid,
  input[type=datetime-local]:focus.valid,
  input[type=tel].valid,
  input[type=tel]:focus.valid,
  input[type=number].valid,
  input[type=number]:focus.valid,
  input[type=search].valid,
  input[type=search]:focus.valid,
  textarea.materialize-textarea.valid,
  textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #99FFE6;
    box-shadow: 0 1px 0 0 #99FFE6; }
  input:not([type]).valid + label:after, input:not([type]):focus.valid + label:after,
  input[type=text].valid + label:after,
  input[type=text]:focus.valid + label:after,
  input[type=password].valid + label:after,
  input[type=password]:focus.valid + label:after,
  input[type=email].valid + label:after,
  input[type=email]:focus.valid + label:after,
  input[type=url].valid + label:after,
  input[type=url]:focus.valid + label:after,
  input[type=time].valid + label:after,
  input[type=time]:focus.valid + label:after,
  input[type=date].valid + label:after,
  input[type=date]:focus.valid + label:after,
  input[type=datetime-local].valid + label:after,
  input[type=datetime-local]:focus.valid + label:after,
  input[type=tel].valid + label:after,
  input[type=tel]:focus.valid + label:after,
  input[type=number].valid + label:after,
  input[type=number]:focus.valid + label:after,
  input[type=search].valid + label:after,
  input[type=search]:focus.valid + label:after,
  textarea.materialize-textarea.valid + label:after,
  textarea.materialize-textarea:focus.valid + label:after {
    content: attr(data-success);
    color: #99FFE6;
    opacity: 1; }
  input:not([type]).invalid, input:not([type]):focus.invalid,
  input[type=text].invalid,
  input[type=text]:focus.invalid,
  input[type=password].invalid,
  input[type=password]:focus.invalid,
  input[type=email].invalid,
  input[type=email]:focus.invalid,
  input[type=url].invalid,
  input[type=url]:focus.invalid,
  input[type=time].invalid,
  input[type=time]:focus.invalid,
  input[type=date].invalid,
  input[type=date]:focus.invalid,
  input[type=datetime-local].invalid,
  input[type=datetime-local]:focus.invalid,
  input[type=tel].invalid,
  input[type=tel]:focus.invalid,
  input[type=number].invalid,
  input[type=number]:focus.invalid,
  input[type=search].invalid,
  input[type=search]:focus.invalid,
  textarea.materialize-textarea.invalid,
  textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid tomato;
    box-shadow: 0 1px 0 0 tomato; }
  input:not([type]).invalid + label:after, input:not([type]):focus.invalid + label:after,
  input[type=text].invalid + label:after,
  input[type=text]:focus.invalid + label:after,
  input[type=password].invalid + label:after,
  input[type=password]:focus.invalid + label:after,
  input[type=email].invalid + label:after,
  input[type=email]:focus.invalid + label:after,
  input[type=url].invalid + label:after,
  input[type=url]:focus.invalid + label:after,
  input[type=time].invalid + label:after,
  input[type=time]:focus.invalid + label:after,
  input[type=date].invalid + label:after,
  input[type=date]:focus.invalid + label:after,
  input[type=datetime-local].invalid + label:after,
  input[type=datetime-local]:focus.invalid + label:after,
  input[type=tel].invalid + label:after,
  input[type=tel]:focus.invalid + label:after,
  input[type=number].invalid + label:after,
  input[type=number]:focus.invalid + label:after,
  input[type=search].invalid + label:after,
  input[type=search]:focus.invalid + label:after,
  textarea.materialize-textarea.invalid + label:after,
  textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: tomato;
    opacity: 1; }
  input:not([type]) + label:after,
  input[type=text] + label:after,
  input[type=password] + label:after,
  input[type=email] + label:after,
  input[type=url] + label:after,
  input[type=time] + label:after,
  input[type=date] + label:after,
  input[type=datetime-local] + label:after,
  input[type=tel] + label:after,
  input[type=number] + label:after,
  input[type=search] + label:after,
  textarea.materialize-textarea + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out; }

.input-field {
  position: relative;
  margin-top: .5rem; }
  @media screen and (max-width: 620px) {
    .input-field {
      margin-top: 0; } }
  .input-field label {
    color: #000;
    position: absolute;
    top: 0.8rem;
    left: 25px;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out; }
  .input-field label.active {
    font-size: 20px;
    transform: translateY(-140%); }
  .input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s; }
    .input-field .prefix.active {
      color: #B399FF; }
  .input-field .prefix ~ input,
  .input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem); }
  .input-field .prefix ~ textarea {
    padding-top: .8rem; }
  .input-field .prefix ~ label {
    margin-left: 3rem; }

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem); }
  .input-field input[type=search]:focus {
    background-color: white;
    border: 0;
    box-shadow: none;
    color: #444; }
    .input-field input[type=search]:focus + label i, .input-field input[type=search]:focus ~ .mdi-navigation-close, .input-field input[type=search]:focus ~ .material-icons {
      color: #444; }
  .input-field input[type=search] + label {
    left: 1rem; }
  .input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color; }

textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent; }
  @media screen and (max-width: 620px) {
    textarea {
      height: 1rem; } }
  textarea.materialize-textarea {
    overflow-y: hidden;
    /* prevents scroll bar flash */
    padding: 1.6rem 0;
    /* prevents text jump on Enter keypress */
    resize: none;
    min-height: 3rem; }
    @media screen and (max-width: 620px) {
      textarea.materialize-textarea {
        padding: 1rem 0; } }

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */ }

/***************
   Checkboxes
***************/
/* CUSTOM CSS CHECKBOXES */
form p {
  margin-bottom: 10px;
  text-align: left; }

form p:last-child {
  margin-bottom: 0; }

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden; }

[type="checkbox"] {
  /* checkbox aspect */ }
  [type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    padding-right: 50px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */ }
  [type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid grey;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s; }
  [type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: grey; }

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #99FFE6;
  border-bottom: 2px solid #99FFE6;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%; }
[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid grey;
  border-bottom: 2px solid grey; }

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {
  left: -10px;
  top: -11px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid #99FFE6;
  border-bottom: none;
  transform: rotate(90deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%; }
[type="checkbox"]:indeterminate:disabled + label:before {
  border-right: 2px solid grey;
  background-color: transparent; }

[type="checkbox"].filled-in + label:after {
  border-radius: 2px; }
[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1; }
[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%; }
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid grey;
  top: 0px;
  z-index: 0; }
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #B399FF;
  background-color: #B399FF;
  z-index: 0; }
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent; }
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: white; }
[type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent; }
[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: white;
  border-color: white; }

/***************
  Select Field
***************/
.select-label {
  position: absolute; }

.select-wrapper {
  position: relative; }
  .select-wrapper option .select-dropdown {
    position: relative;
    cursor: pointer;
    color: #444;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block; }
  .select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px; }
    .select-wrapper span.caret.disabled {
      color: grey; }
  .select-wrapper + label {
    position: absolute;
    top: -14px;
    font-size: 20px; }

select {
  display: none; }

select.browser-default {
  display: block; }

select:disabled {
  color: rgba(0, 0, 0, 0.3); }

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -ms-user-select: none;
  /* IE10+ */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.select-wrapper i {
  color: rgba(0, 0, 0, 0.3); }

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent; }

.select-dropdown li img {
  height: 10px;
  width: 10px;
  margin: 5px 15px;
  float: right; }

.select-dropdown li.optgroup {
  border-top: 1px solid black; }
  .select-dropdown li.optgroup.selected > span {
    color: rgba(0, 0, 0, 0.7); }
  .select-dropdown li.optgroup > span {
    color: rgba(0, 0, 0, 0.4); }
  .select-dropdown li.optgroup ~ li:not(.optgroup) {
    padding-left: 1rem; }

/*********************
      File Input
**********************/
.file-field {
  position: relative; }
  @media screen and (max-width: 620px) {
    .file-field {
      display: none; } }
  .file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px; }
  .file-field input.file-path {
    width: 100%; }
  .file-field .btn {
    float: left;
    height: 3rem;
    line-height: 3rem; }
  .file-field span {
    cursor: pointer; }
  .file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

input[type=range]:focus {
  outline: none; }

input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #99FFE6;
  transform-origin: 50% 50%;
  margin: -5px 0 0 0;
  transition: .3s; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;
  /*required for proper track sizing in FF*/ }

input[type=range]::-moz-range-track {
  height: 3px;
  background: #ddd;
  border: none; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #99FFE6;
  margin-top: -5px; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }

input[type=range]:focus::-moz-range-track {
  background: #ccc; }

input[type=range]::-ms-track {
  height: 3px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #777; }

input[type=range]::-ms-fill-upper {
  background: #ddd; }

input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #99FFE6; }

input[type=range]:focus::-ms-fill-lower {
  background: #888; }

input[type=range]:focus::-ms-fill-upper {
  background: #ccc; }

/***************************
   Text Inputs + Textarea
****************************/
select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem; }

.profileInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 75%;
  width: 70%;
  max-width: 1000px;
  padding-bottom: 20px; }
  .profileInfo img {
    height: 180px;
    width: 180px;
    margin-top: 25px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 50%; }
    @media screen and (max-width: 768px) {
      .profileInfo img {
        height: 100px;
        width: 100px;
        margin-top: 100px; } }
  .profileInfo h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 1.5px;
    margin: 3% auto; }
    @media screen and (max-width: 768px) {
      .profileInfo h1 {
        font-size: 2em; } }
  .profileInfo h4 {
    padding: 0;
    margin: 0;
    color: #fff; }
  .profileInfo .userMusicType {
    margin: 0; }
  .profileInfo .userBio {
    font-size: 1.3em;
    color: #fff;
    letter-spacing: 1.5px; }
    @media screen and (max-width: 768px) {
      .profileInfo .userBio {
        font-size: 1.2em; } }
  @media screen and (max-width: 768px) {
    .profileInfo {
      height: 90%;
      width: 90%; } }

.projectsWrapper {
  width: 90%;
  padding: 2%; }
  .projectsWrapper h4 {
    color: gray;
    text-align: center; }
  .projectsWrapper .create {
    color: #B399FF; }
    .projectsWrapper .create:hover {
      text-decoration: underline; }
  .projectsWrapper .open-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3%; }
    .projectsWrapper .open-project .openProjectHeader {
      display: flex;
      align-items: flex-start; }
      .projectsWrapper .open-project .openProjectHeader img {
        height: 80px;
        width: 80px;
        margin-right: 1%;
        box-shadow: 1px 1px 3px gray;
        border-radius: 50%; }
      .projectsWrapper .open-project .openProjectHeader .titleAndAuthor {
        margin-left: 15px; }
        .projectsWrapper .open-project .openProjectHeader .titleAndAuthor h3 {
          font-size: 30px;
          margin: 0 auto; }
        .projectsWrapper .open-project .openProjectHeader .titleAndAuthor h4 {
          color: grey;
          text-align: left;
          margin: 0 auto; }
        .projectsWrapper .open-project .openProjectHeader .titleAndAuthor .openProjectSummary p {
          margin-top: 5px;
          width: 88%; }

.noProjects {
  margin: 5em; }
  .noProjects h1 {
    font-size: 40px;
    margin: 0;
    color: #4d4d4d; }
  .noProjects i {
    color: #99ccff;
    font-size: 55px; }

.completedCollabs {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 768px) {
    .completedCollabs {
      flex-direction: column;
      flex-wrap: wrap; } }
  .completedCollabs .col1, .completedCollabs .col2, .completedCollabs .col3 {
    display: flex;
    flex-direction: column;
    width: 33.3333%; }
    .completedCollabs .col1 .galleryItem:nth-child(2), .completedCollabs .col2 .galleryItem:nth-child(2), .completedCollabs .col3 .galleryItem:nth-child(2) {
      flex: 2; }
    @media screen and (max-width: 768px) {
      .completedCollabs .col1, .completedCollabs .col2, .completedCollabs .col3 {
        width: 100%; } }

#bright {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-bright-sq.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-bright-sq.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 1px; }
  #bright .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #bright .galleryContent h2, #bright .galleryContent h3 {
      color: #fff; }
    #bright .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #bright .galleryContent h3 {
      letter-spacing: 1.5px; }

#desert {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-desert-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-desert-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #desert .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #desert .galleryContent h2, #desert .galleryContent h3 {
      color: #fff; }
    #desert .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #desert .galleryContent h3 {
      letter-spacing: 1.5px; }

#hippie {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-hippie-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-hippie-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #hippie .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #hippie .galleryContent h2, #hippie .galleryContent h3 {
      color: #fff; }
    #hippie .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #hippie .galleryContent h3 {
      letter-spacing: 1.5px; }

#collage {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-collage-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-collage-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #collage .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #collage .galleryContent h2, #collage .galleryContent h3 {
      color: #fff; }
    #collage .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #collage .galleryContent h3 {
      letter-spacing: 1.5px; }

#lights {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-lights-sq.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-lights-sq.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 1px; }
  #lights .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #lights .galleryContent h2, #lights .galleryContent h3 {
      color: #fff; }
    #lights .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #lights .galleryContent h3 {
      letter-spacing: 1.5px; }

#trippy {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-trippy-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-trippy-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #trippy .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #trippy .galleryContent h2, #trippy .galleryContent h3 {
      color: #fff; }
    #trippy .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #trippy .galleryContent h3 {
      letter-spacing: 1.5px; }

#robot {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-robot-sq.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-robot-sq.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  margin: 1px; }
  #robot .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #robot .galleryContent h2, #robot .galleryContent h3 {
      color: #fff; }
    #robot .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #robot .galleryContent h3 {
      letter-spacing: 1.5px; }

#boat {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-boat-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-boat-long.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  margin: 1px; }
  #boat .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #boat .galleryContent h2, #boat .galleryContent h3 {
      color: #fff; }
    #boat .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #boat .galleryContent h3 {
      letter-spacing: 1.5px; }

#girl {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-girl-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-girl-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #girl .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #girl .galleryContent h2, #girl .galleryContent h3 {
      color: #fff; }
    #girl .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #girl .galleryContent h3 {
      letter-spacing: 1.5px; }

#triangles {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-triangles-sq.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-triangles-sq.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 1px; }
  #triangles .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #triangles .galleryContent h2, #triangles .galleryContent h3 {
      color: #fff; }
    #triangles .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #triangles .galleryContent h3 {
      letter-spacing: 1.5px; }

#sun {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-sun-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-sun-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #sun .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #sun .galleryContent h2, #sun .galleryContent h3 {
      color: #fff; }
    #sun .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #sun .galleryContent h3 {
      letter-spacing: 1.5px; }

#grafitti {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-grafitti-long.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gallery-grafitti-long.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 1px; }
  #grafitti .galleryContent {
    padding-left: 10%;
    padding-bottom: 5%; }
    #grafitti .galleryContent h2, #grafitti .galleryContent h3 {
      color: #fff; }
    #grafitti .galleryContent h2 {
      font-size: 2.5em;
      margin: 0; }
    #grafitti .galleryContent h3 {
      letter-spacing: 1.5px; }

/*# sourceMappingURL=main.css.map */
