// -----------------------
// Extends
// -----------------------

%logoFont {
  font-family: 'Fjalla One', sans-serif;
}

%headerFont {
  font-family: 'Open Sans Condensed', sans-serif;
}

%uppercase {
  text-transform: uppercase;
}
