// ---------------------------
// Mixins
// ---------------------------

@mixin secondaryBtn ($color) {
  @extend %headerFont;
  @extend %uppercase;
  @include textFormat(1.2em, $color);
  @include padding(.5em 5%);
  @include margin(.5em);
  border: 1px solid $color;
  transition: all 500ms linear;
  &:hover {
    color: $black;
    background: $subColor2;
  }
}

@mixin textFormat ($size: null, $color: null, $weight: null, $l-spacing: null, $l-height: null) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  letter-spacing: $l-spacing;
  line-height: $l-height;
}

@mixin flexbox ($display: flex, $justify: null, $align-items: null, $direction: null, $align-self: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align-items;
  flex-direction: $direction;
  align-self: $align-self;
}
