// ---------------------------
// Mixins
// ---------------------------

@mixin completedCollab ($image, $height, $names...) {
  @each $name in $names {
    ##{$name} {
      @include flexbox($justify: flex-end, $direction: column);
      @include background-image(linear-gradient(rgba($black, 0.4), rgba($black,0.4)),url($image));
      background-size: cover;
      background-position: center;
      height: $height;
      // margin: 2px;
      .galleryContent {
        padding-left: 10%;
        padding-bottom: 5%;
        @extend %headerFont;
        h2, h3 {
          color: $white;
        }
        h2 {
          @include textFormat(2.5em);
          margin: 0;
        }
        h3 {
          @include textFormat($l-spacing: 1.5px);
        }
      }
    }
  }
}

@mixin secondaryBtn ($color) {
  @extend %headerFont;
  @extend %uppercase;
  @include textFormat(1.2em, $color);
  @include padding(.5em 5%);
  @include margin(.5em);
  border: 1px solid $color;
  transition: all 500ms linear;
  &:hover {
    color: $black;
    background: $subColor2;
  }
  @media screen and #{$tablet} {
    @include flexbox($direction: column);
    margin: 5px auto;
    width: 85%;
  }
}

@mixin logoBar ($width) {
  width: $width;
  margin: 5px;
  background: #99ccff;
  height: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba($black, 0.5);
  @media screen and #{$mobile} {
    width: 40px;
    height: 8px;
    margin: 2px;
  }
}

@mixin textFormat ($size: null, $color: null, $weight: null, $l-spacing: null, $l-height: null) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  letter-spacing: $l-spacing;
  line-height: $l-height;
}

@mixin flexbox ($display: flex, $justify: null, $align-items: null, $direction: null, $align-self: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align-items;
  flex-direction: $direction;
  align-self: $align-self;
}
