// -----------------------
// Variables
// -----------------------

// Color Palette
$black: #000;
$white: #fff;

$primary: #B399FF;
$subColor1:#99ccff;
$subColor2:#99FFE6;


// File Paths
$img-path: "../img";

// Form

$formPrimary: #B399FF;
$formSecondary:#99ccff;
$subColor2:#99FFE6;
$form-button-color: black;
$darkgray: #4d4d4d;

$label-font-size: 20px;
$gutter-width: 50px;

$input-border-color: $black;
$input-disabled-color: grey;
$input-focus-color: #B399FF;
$input-success-color: $subColor2;
$input-error-color: tomato;
$input-bg-color: white;
$radio-empty-color: grey;
$radio-fill-color: $subColor2;
$input-disabled-solid-color: white;
$dropdown-item-height: 20px;
$dropdown-hover-bg-color: black;


// Media Queries - Home Page
$tablet: "(max-width: 768px)";
$mobile: "(max-width: 620px)";

// Media Queries - Browse Page
$brk-medium: "(max-width: 860px)";
$brk-small: "(max-width: 670px)";
$brk-mobile: "(max-width: 468px)";
$brk-mediumHeight: "(max-height: 1050px)";
$brk-smallHeight: "(max-height: 850px)";
$brk-mobileHeight: "(max-height: 660px)";
