// -----------------------
// Variables
// -----------------------

// Color Palette
$black: #000;
$white: #fff;

$primary: #B399FF;
$subColor1:#99ccff;
$subColor2:#99FFE6;

// Media Queries
$tablet: "(max-width: 768px)";
$mobile: "(max-width: 620px)";

// File Paths
$img-path: "../img";

// Form

$formPrimary: #B399FF;
$formSecondary:#99ccff;
$subColor2:#99FFE6;
$form-button-color: black;

$label-font-size: 20px;
$gutter-width: 50px;

$input-border-color: $black;
$input-disabled-color: grey;
$input-focus-color: #B399FF;
$input-success-color: $subColor2;
$input-error-color: tomato;
$input-bg-color: white;
$radio-empty-color: grey;
$radio-fill-color: $subColor2;
$input-disabled-solid-color: white;
$dropdown-item-height: 20px;
$dropdown-hover-bg-color: black;
