// ---------------------
// Buttons
// ---------------------


.headerButtons {
  @extend %headerFont;
  @include flexbox($justify: center);
  @include size(100% auto);
  align-self: center;
  a {
    @extend %uppercase;
    @include textFormat(1.3em, $white, $l-spacing: 2px);
    @include padding(.8em 2em);
    border: 1px solid $white;
    background: transparent;
    transition: all 500ms linear;
    &:first-child {
      margin-right: 1em;
    }
    &:hover {
      color: $black;
      background: $subColor2;
    }
    &:nth-child(2):hover {
      background: $subColor1;
    }
    @media screen and #{$tablet} {
      width: 100%;
      margin-bottom: 1em;
    }
  }
  @media screen and #{$tablet} {
    @include flexbox ($direction: column);
  }
}

.secondaryBlack {
  @include secondaryBtn($black);
}

.secondaryWhite {
  @include secondaryBtn($white);
  background: transparent;
}

// This class is specific to the file input field, and needs to stay btn exactly.
.btn {
  color: $white;
  background: $primary;
  padding-left: 2em;
  padding-right: 2em;
}

.modal-footer {
  a {
    @include padding(.8em 2em);
    @extend %uppercase;
    @include textFormat(1.1em, $black);
    background: transparent;
    border: 1px solid $black;
    transition: background 200ms linear;
    &:hover {
      background: $subColor2;
      border: 1px solid transparent;
    }
  }
}
