// ---------------------
// Buttons
// ---------------------


.headerContent .headerButtons {
  @extend %headerFont;
  @include flexbox($justify: center);
  @include size(100% auto);
  align-self: center;
  a {
    @extend %uppercase;
    @include textFormat(1.3em, $white, $l-spacing: 2px);
    @include padding(.8em 2em);
    border: 1px solid $white;
    background: transparent;
    transition: all 500ms linear;
    &:first-child {
      margin-right: 1em;
    }
    &:hover {
      color: $black;
      background: $subColor2;
    }
    &:nth-child(2):hover {
      background: $subColor1;
    }
    @media screen and #{$tablet} {
      width: 100%;
      margin-bottom: 1em;
    }
  }
  @media screen and #{$tablet} {
    @include flexbox ($direction: column);
  }
}

.secondaryBlack {
  @include secondaryBtn($black);
}

.secondaryWhite {
  @include secondaryBtn($white);
  background: transparent;
}

.profileButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

// This class is specific to the file input field, and needs to stay btn exactly.
.btn {
  color: $white;
  background: $primary;
  padding-left: 2em;
  padding-right: 2em;
}

.modal-footer {
  button {
    @extend %headerFont;
    @include padding(.8em 2em);
    @extend %uppercase;
    @include textFormat(1.1em, $black);
    background: transparent;
    border: 1px solid $black !important;
    color: black !important;
    transition: background 200ms linear;
    &:hover {
      background: $subColor2;
      border: 1px solid transparent;
    }
  }
}

// Browse page Buttons //

.searchButton {
  @extend %uppercase;
  @include textFormat(1em, $white, $l-spacing: 1px);
  @include padding(.5em 1.5em);
  border: 1px solid $white;
  background: transparent;
  transition: all 500ms linear;
  &:hover {
    color: $black;
    background: $subColor2;
  }
}

.openProjectButtons {
  @extend %headerFont;
  @include flexbox(flex, center);
  a {
    text-align: center;
    width: 50%;
    margin: 1%;
    @include padding(.5em 1em);
    transition: all 300ms linear;
    border: 1px solid gray;
    &:hover {
      color: $black;
      background: $subColor2;
    }
    &:nth-child(2):hover {
      background: $subColor1;
    }
    @media screen and #{$brk-mobile} {
      width: 100%;
    }
  }
  @media screen and #{$brk-mobile} {
    flex-direction: column;
  }
}

.viewAll {
  margin: 8% auto;
  text-align: center;
  @extend %headerFont;
  a {
    background: $primary;
    opacity: .8;
    text-align: center;
    @include padding(.5em 2em);
    transition: all 300ms linear;
    &:hover {
      background: $subColor1;
    }
  }
}

// Buttons on About page //

.aboutButtons {
  @extend %headerFont;
  @include flexbox($justify: center, $align-items: center);
  @include size(100% auto);
  align-self: center;
  a {
    max-width: 48%;
    text-align: center;
    @include secondaryBtn($darkgray);
  }
  @media screen and #{$brk-mobile} {
    flex-direction: column;
  }
}


// Buttons on Login Confirmation page //

.buttonList {
  width: 100%;
}

// Approve collab request button on inbox page //

button {
  align-self: center;
  @extend %uppercase;
  @extend %headerFont;
  @include textFormat(1em, $darkgray, $l-spacing: 2px);
  @include padding(.8em 2em);
  border: 1px solid $darkgray;
  background: transparent;
  transition: all 300ms linear;
  &:first-child {
    margin-right: 1em;
  }
  &:hover {
    color: $black;
    background: $subColor1;
  }
}
