.completedCollabs {
  width: 100%;
  @include flexbox();
  .col1, .col2, .col3 {
    @include flexbox($direction: column);
    width: 33.3333%;
    .galleryItem {
      &:nth-child(2) {
        flex: 2;
      }
    }
    .galleryItem img {
      width: 100%;
      object-fit:cover;
      display: block;
      padding: 2px;
      border: 1px solid cyan;
    }
  }
}

@include completedCollab("#{$img-path}/gallery-bright-sq.jpg", 400px, bright);
@include completedCollab("#{$img-path}/gallery-desert-long.jpg", 300px, desert);

// #bright {
//   @include flexbox($justify: flex-end, $direction: column);
//   @include background-image(linear-gradient(rgba($black, 0.4), rgba($black,0.4)),url("#{$img-path}/gallery-bright-sq.jpg"));
//   background-size: cover;
//   background-position: center;
//   .galleryContent {
//     padding-left: 10%;
//     padding-bottom: 5%;
//     @extend %headerFont;
//     h2, h3 {
//       color: $white;
//     }
//     h2 {
//       @include textFormat(2.5em);
//       margin: 0;
//     }
//     h3 {
//       @include textFormat($l-spacing: 1.5px);
//     }
//   }
// }
