.projectsWrapper {
  width: 90%;
  padding: 2%;
  h4 {
    @extend %headerFont;
    @include textFormat($color: gray);
    text-align: center;
  }
  .create {
    color: $primary;
    &:hover {
      text-decoration: underline;
    }
  }
  .open-project {
    @include flexbox(flex, center, $direction: column);
    margin: 3%;
    .openProjectHeader {
      @include flexbox(flex, $align-items: flex-start);
      @extend %headerFont;
      img {
        @include size(80px 80px);
        margin-right: 1%;
        box-shadow: 1px 1px 3px gray;
        border-radius: 50%;
      }
      .titleAndAuthor {
        margin-left: 15px;
        h3 {
          @include textFormat(30px);
          margin: 0 auto;
        }
        h4 {
          @include textFormat($color: grey);
          text-align: left;
          margin: 0 auto;
        }
        .openProjectSummary {
          p {
            margin-top: 5px;
            width: 88%;
          }
        }
      }
    }
  }
}

.noProjects {
  @extend %centeredText;
  margin: 5em;
  h1 {
    @extend %headerFont;
    font-size: 40px;
    margin: 0;
    color: $darkgray;
  }
  i {
    color: $subColor1;
    font-size: 55px;
  }
}
